.BuildControl {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

    button {
        display: block;
        font: inherit;
        padding: 1em;
        margin: 0 1em;
        width: 80px;
        border: 1px solid #aa6817;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: red;
            color: #fff;
        }
    }
}