button {
  background-color: #0000b3;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius: 5px;

  &:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  &.Success {
    color: #5C9210;
  }
  
  &.Danger {
    color: #944317;
  }
}


