button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius: 5px;

  &.Success {
    color: #5C9210;
  }
  
  &.Danger {
    color: #944317;
  }
}


