.Align {
    text-align: center;
    border: 1px solid red;
    
    ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        
    }

    .capitalize {
        text-transform: capitalize;
    }
}

